*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    background-color: rgb(25, 25, 25);
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
}
.collums{
    background-color: blueviolet;
    min-height: 100vh;
}
#collums_center{
    width: 75%;
}
.sidebar{
    background-color: rgb(68, 68, 68);
    min-height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    z-index: 999;
}
.sidebar_logo{
    color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    top: 0;
}
.logo_container{
    font-size: 5rem;
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    cursor: pointer;
}
.sidebar_menu{
    background-color: aqua;
    width: 100%;
    height: fill;
}
.navbar_links{
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.bar{
    height: 5px;
    width: 15px;
    background-color: black;
}
#menu_mobile{
    background-color: blanchedalmond;
}