.flex-grid{
  display: flex;
  flex-direction: row;
}
.side1{
  width: 5rem;
}
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fill;
}
.side2{
  width: 5rem;
}
section{
  width: 100dvw;
  height: 90dvh;
}
/*
nav{
  z-index: 1;
  position: fixed;
  width: 100dvw;
  height: 10dvh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.links{
  font-size: calc(75% + 1dvw);
  text-decoration: none
}
.links:hover{
  color:#B800D8
}
.mHolder{
  position: relative;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(70%, -50%);
  width:30%;
  height: 100%;
}
.actual-Menu{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: fill;
  width: fill;
}


body{
  position: relative;
}
section{
  width: 100dvw;
  height: 100dvh;
}
.content-grid{
  display: grid;
  grid-template-columns: .5fr 4fr .5fr;
  grid-template-areas: "side1 centr side2";
}
#side1{
  grid-area: side1;
  background-color: #B800D8;
}
#center{
  grid-area: centr;
  display: flex;
  justify-content: center;
  align-items: center;
}
#side2{
  grid-area: side2;
  background-color: #B800D8;
}
.secName{
  font-size: calc(100% + 2dvw);
}
#portr{
  width:calc(50% * 0.1em);
  height: 50%;
  background-color: #B800D8;
}
#hero{
  position: relative;
}
.hello-text{
  width: 90%;
  font-size: calc(100% + 1dvw);
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.areas-text{
  font-size: calc(100% + 1dvw);
}
*/