.flex-grid{
  display: flex;
  flex-direction: row;
}
.side1{
  width: 5rem;
}
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fill;
  position: relative;
}
.side2{
  width: 5rem;
}
section{
  width: 100dvw;
  height: 100dvh;
}
#contact{
  height: 70dvh;
}
.secName{
  position: absolute;
  top: 2rem;
}