.bg-purple{
 background-color:#4C00BA ; 
}
.bg-pink{
  background-color:#B800D8 ; 
}
.bg-magenta{
  background-color:#FF002A ; 
}
.bg-orange{
  background-color:#FF6600 ; 
}
.bg-yellow{
  background-color:#FEC901 ; 
}
.bg-bege{
  background-color:#EADEB8 ; 
}
.bg-dark{
  background-color:#101010 ; 
}
.purple{
  color:#4C00BA ; 
 }
.pink{
  color:#B800D8 ; 
}
.magenta{
  color:#FF002A ; 
}
.orange{
  color:#FF6600 ; 
}
.yellow{
  color:#FEC901 ; 
}
.bege{
  color:#EADEB8 ; 
}
.dark{
  color:#101010 ; 
}