@media screen and (max-width: 720px) {
  footer{
    .content{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;}
  }
}
footer{
  bottom: 0;
  width: 100dvw;
  height: 10dvh;
  .content{
    width: fill;
    height: fill;
    justify-content: space-around;
  }
}
.footer-text{
  font-size: calc(60% + 0.5dvw);
}