@media screen and (max-width: 720px) {
  .mLink{
    display: block;
  }
  .mHolder{
    display: block;
  }
  .btt-menu{
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pcLink{
    display: none;
  }
  footer{
    .content{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;}
  }
  nav{
    font-size: calc(100% + 1dvw);
  }
}
@media screen and (min-width: 720px) {
  .mLink{
    display: none;
  }
  .mHolder{
    display: none;
  }
  .btt-menu{
    display: none;
  }
  .pcLink{
    display: block;
  }
  nav{
    font-size: calc(70% + 1dvw);
  }
}
nav{
  width: 100dvw;
  height: 10dvh;
  position: fixed;
}
.links{
  text-decoration: none;
}
.mHolder{
  position: relative;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(70%, -50%);
  width:30%;
  height: 100%;
}
.actual-Menu{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: fill;
  width: fill;
}
.mClose{
  position: absolute;
  top: 0;
  left: 0;
}