/*Page*/
.page{
  width: 100dvw;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-areas: "empty1 pcMenu center empty2";
}
.empty1{
  grid-area: empty1;
  width: 2rem;
}
.center{
  width: fill;
  position: relative;
  grid-area: center;
  display: flex;
}
.empty2{
  grid-area: empty2;
  width: 2rem;
}
/*Mobile Menu*/
.mobileMenu{
  display: none;
  position: absolute;
}
.mobBtt{
  position: fixed;
  left: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  border-radius: 0.25em;
}
/*Pc Menu*/
.pcMenu{
  grid-area: pcMenu;
  position:sticky;
  top: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 25dvw;
  height: 100dvh;
}
.actualMenu{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  border: none;
  border-radius: 0.25em;
  width: 90%;
  height: 97%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  color:antiquewhite;
}
.name{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo{
  min-width: fill;
  min-height: calc(25dvh + 10em);
  background-position: center;
  background-size: cover;
}
.name-text{
  font-size:calc(100% + 1dvw);
}

/*Portfolio*/
.content{
  width: fill;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.intro{
  margin-top: 1em;
  width: fill;
  height: 90dvh;
  border-radius: .25em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-about{
  width: 90%;
  text-align: justify;
  font-size:calc(10pt + 2dvh);
}
.reels{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.work{
  border:none ;
  border-radius: .25rem;
  min-width: calc(25dvw - 5em);
  min-height: calc(25dvw - 5em);
  background-color: aqua;
  transition: 0.5s ease-in-out ;
  position: relative;
  background-position: center;
  background-size: cover;
}
.client-name{
  display: none;
  width: fill;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size:xx-large;
  background-color: rgba(250, 235, 215, 0.5);
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}
.work:hover{
  scale: 1.025;
  transition: 0.5s ease-in-out ;
  .client-name{
    display: block;
  }
}
section{
  width: auto;
  height: 90dvh;
}
/*SectionS*/
.section-title{
  font-size: calc(100pt - 5rem);
}
/*Footer*/
footer{
  width: fill;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
/*Mobile Configuration*/
@media screen and (max-width: 1024px) {
  .mobileMenu{
    left: 0;
    display: flex;
    margin-top: 1rem;
    z-index: 90;
  }
  .pcMenu{
    display: none;
  }
  .reels{
    flex-direction: column;
  }
  .work{
    border:none ;
    border-radius: .25rem;
    min-width: 70dvw;
    min-height: 70dvw;
  }

}
@media screen and (min-width: 1024px) {
  .reels{
    flex-direction: row;
  }
}
