*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    /*
     #FFCF6B;
     #E96559
     #4152BA
     #1A0935
    */
}
.a{
    cursor: pointer;
}
:root{
    background-color: #1A0935;
}
.container {
    display: grid;
    grid-template-columns: 10vw 20vw auto 10vw; /* Your 4 columns */
    grid-template-areas: "side1 sidebar contents side2";
    min-height: 100vh;
    top: 0;
}
#side1{
    grid-area: side1;
}
#sidebar{
    grid-area: sidebar;
}
#content{
    grid-area: contents;
    min-height: 100vh;
}
#side2{
    grid-area: side2;
}
.sidebar_menu{
    padding: 1rem;
    height: 100%;
}
.sidebar_logo{
    width: fill;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#_logo{
    background-color: #ffbc2b;
    width: 15rem;
    height: 100%;

    h1{
            font-size: 1.5rem;
       color: #1A0935;
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
    }

}
/*
.name1{
    letter-spacing: 0.3em;
}
.name2{
    letter-spacing: 0.0875em;
}
*/
.sidebar_links{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    h1{
        color: #ffbc2b;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.sections{
    width: 100%;
    height: 100dvh;
    padding:1rem;
    color: #ffbc2b;
}
.section-content{
    width: fill;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}