*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    top: 0;
}
:root{
    background-color:#FFFBF0;
    color: #212842;
}
a{
    color: #212842;
}
a:hover{
    cursor:pointer;
}
.bg-ivory{background-color: #FFFBF0}
.bg-blue-midnight{background-color: #212842;}
.text-ivory{color: #FFFBF0}
.text-blue-midnight{color: #212842;}
/**/
.buffer{
    grid-area: buffer;
    height: 10dvh;
}

.side{
    width: 5dvw;
    height: fill;
}
/*Navbar*/
nav{
    width: 100%;
    height: 10dvh;
    position:fixed;
    background-color: #FFFBF0;
    display: flex;
}
.navbar{
    width: fill;
    height: fill;
    display: flex;
    align-items: center;
}
.logo{
    width: 30%;
    height: fill;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo-pc{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.logo-mob{
    display: none;
}
.nav-options{
    width: 70%;
    height: fill;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
/* SECTIONS */
.section-flex{
    min-height: 100dvh;
    width: fill;
    display: flex;
}
.section-container{
    width: 100%;
    min-height: 90dvh;
}
.projects-grid-flex{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    justify-content:space-around;
    gap: 2rem;
}
.item{
    height: 400px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
/**/
.about-container{
    display: flex;
    width: fill;
    justify-content: center;
    align-items: center;
}
/**/
@media screen and (max-width: 850px){
    .side{
    width: 2dvw;
    height: fill;
    }
    .logo{
        width: 30%;
    }
    .nav-options{
        width: 70%;
    }
    .logo-pc{
        display: none;
    }
    .logo-mob{
        display: flex;
        flex-direction: column;
        align-content:center;
    }
}