*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    top: 0;
}
:root{
    background-color:#FFFBF0;
    color: #212842;
}
a{
    color: #212842;
}
a:hover{
    cursor:pointer;
}
.bg-ivory{background-color: #FFFBF0}
.bg-blue-midnight{background-color: #212842;}
.text-ivory{color: #FFFBF0}
.text-blue-midnight{color: #212842;}
.grid-site{
    display: grid;
    grid-template-columns:5dvw 20rem auto 5dvw;
    grid-template-areas: "c1 c2 c3 c4";
}
.buffer{height: 5dvh;}
#c1{grid-area: c1;}
#c2{grid-area: c2;}
#c3{grid-area: c3;}
#c4{grid-area: c4;}
nav{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-pc{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-mob{
    display: none;
}
.nav-options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fill;
}
.nav-option{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fill;
}
footer{
    height: 10dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        text-align: center;
    }
}
main{
    min-height: fill;
    width: fill;
}
section{
    min-height:90dvh ;
}
@media screen and (max-width: 850px){
    .grid-site{
    grid-template-columns:2dvw 20dvw auto 2dvw;
    }
    .logo-pc{
        display: none;
    }
    .logo-mob{
        display: flex;
        flex-direction: column;
    }
}