*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    top: 0;
}
:root{
    background-color:#FFFBF0;
    color: #212842;
}
a{
    color: #212842;
}
a:hover{
    cursor:pointer;
}
.bg-ivory{background-color: #FFFBF0}
.bg-blue-midnight{background-color: #212842;}
.text-ivory{color: #FFFBF0}
.text-blue-midnight{color: #212842;}
/**/
.grid-site{
    display: grid;
    grid-template-columns: 5dvw auto 5dvw;
    grid-template-areas:
    "side1 container side2"
}

.buffer{height: 10dvh;}

.side1{grid-area: side1;}
.container{
    grid-area: container;
}
.side2{grid-area: side2;}

nav{
    width: 100%;
    height: 10dvh;
    position:fixed;
}
.navbar{
    width: fill;
    height: fill;
    display: flex;
    align-items: center;
}
.logo{
    width: 25%;
    height: fill;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo-pc{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.logo-mob{
    display: none;
}
.nav-options{
    width: 75%;
    height: fill;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section{
    min-height: 100dvh;
}
@media screen and (max-width: 850px){
.grid-site{
    grid-template-columns: 2dvw auto 2dvw;
}
.logo{
    width: 25%;
}
.nav-options{
    width: 75%;
}
.logo-pc{
    display: none;
}
.logo-mob{
    display: flex;
    flex-direction: column;
    align-content:center;
}
}