*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    top: 0;
}
:root{
    background-color:bisque;
}
a{
    color: black;
}
a:hover{
    cursor:pointer;
}
/**/
.text-white{color:white;}
.text-yellow{color:#FFCF6B;}
.text-orange{color:#E96559;}
.text-blue{color:#4152BA;}
.text-purple{color:#1A0935;}
.text-coral{color:coral;}
.text
.bg-white{background-color:white;}
.bg-bisque{background-color:bisque;}
.bg-yellow{background-color:#FFCF6B;}
.bg-orange{background-color:#E96559;}
.bg-blue{background-color:#4152BA;}
.bg-purple{background-color:#1A0935;}

.margin-top-1dvh{margin-top:15dvh;}

.margin-left-0{margin-left: 0rem;}
.margin-left-1{margin-left: 1rem;}
.margin-left-2{margin-left: 2rem;}
.margin-left-3{margin-left: 3rem;}

.margin-right-0{margin-right: 0rem;}
.margin-right-1{margin-right: 1rem;}
.margin-right-2{margin-right: 2rem;}
.margin-right-3{margin-right: 3rem;}

.gap-1{ gap:1rem;}

.width-300{width: 300px;}
.height-400{height: 400px;}

.ft-small{font-size: small;}
/**/

.site-grid{
    display: grid;
    grid-template-columns: 0 25dvw 2dvw auto 0;
    grid-template-areas:
    "side1 nav-contents nav-side contents side2";
}
@media screen and (min-width: 720px) {
    .site-grid{
        grid-template-columns: 15dvw 20dvw 2dvw auto 15dvw;
        
    }
}

#side1{grid-area:side1;}
#side2{grid-area:side2;}
#nav-side{grid-area:nav-side;}
.buffer{height: 2rem;}
.navbar{
    grid-area: nav-contents;
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100dvh;
}
.nav-link{margin-top: 2rem;}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contents{grid-area: contents;}
section{min-height: 100dvh;}